body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: white;
    width: 100%;
    height: 140px;
    color: black;
}
h2{
    font-size: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 45px;
    margin-left: 30px;
    letter-spacing: 0.9px;
    font-weight: 350;
}
a{
    color: black;
    text-decoration: none;
    float: left;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin-left: 25px;
    width: 140px;
}
a :hover{
    color: red;
    cursor: pointer;
}
.navbar ul{
    list-style: none;
    display: flex;
    
    justify-content: flex-end;
    position: relative;
    bottom: 30px;
    right: 30px;
    text-transform: uppercase;
}
#main-body{
    height: 700px;
    width: 100%;
    background-color: white;
    border-top: 3px solid black;
}
.logo{
    width: 250px;
    margin: 50px;
    border-radius:50%;
    border: 3px solid black;
    margin-left: 150px;
    margin-top: 70px;
    box-shadow: -3px 3px 30px rgba( 0, 0,0, 0.9);
}
.nam{
    width: 350px;
    font-size: 40px;
    margin-right: 220px;
    margin-top: 98px;
    font-family: 'Koulen', cursive;
    font-weight: 200;
    letter-spacing: 0.5px;
}
.info-1{
    font-size: 20px;
    line-height: 30px;
    margin-top: -190px;
    margin-left: 440px;
    width: 350px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
#main-body div{
    display: flex;
    justify-content: space-between;
}
#main-about{
    height: 700px;
    width: 100%;
    background-color: white;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.extra-1{
    width:90%;
    background-color:white;
    height: 500px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
    box-shadow: 2px 2px 30px rgba( 0, 0,0, 0.6);
    border-radius: 5px;
}
.extra-2{
    position: relative;
    width: 88%;
    background-color: white;
    height: 400px;
    text-align: center;
    position: relative;
    top: 50px;
    margin-left: 50px;
    margin-right: 30px;
    box-shadow: 2px 2px 30px rgba( 0, 0,0, 0.7);
    border-radius : 5px;
}
.extra-main h2{
    padding: 10px;
    font-family: 'Koulen', cursive;
    font-size: 50px;
    letter-spacing: 0.5rem;
}
.extra-main p{
    padding: 20px;
    text-align: center;
    margin-top: 60px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.8px;
    line-height: 26px;
}
.contact{
        width: 100%;
        height: 700px;
        background-color: white;
        border-bottom: 3px solid black;
    }
.contact a{
        position: relative;
        font-size: 80px;
        padding: 20px;
        top: 45%;
        margin-left: 12%;
        color: black;
    }
#facebook:hover{
    color: #4267B2;
    font-size: 120px;
}
#instagram:hover{
    color: #3f729b;
    font-size: 120px;
}
#twitter:hover{
    color: #1DA1F2;
    font-size: 120px;
}
footer{
    width: 100%;
    height:  300px;
    background-color: white;
    color:  black;
}
.footer-logo{
    text-align: center;
    margin-bottom: 90px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-text p{
    width: 600px;
    text-align: center;
}
.footer-text{
    margin-left: 200px;
}
.footer-copy{
    text-align: center;
    padding: 20px;
    font-size: 26px;
}
